
<footer role="contentinfo">
  <section class="copyright"><span>HomeBase | A fast, AJAX-driven Ghost theme</span><span class="credits">Under Construction by Frank Taylor & Jen Shipley</span><span><a href="{{@blog.url}}">Frank Taylor &copy; {{date format="YYYY"}}</a></span></section>
</footer>