doctype html
html(class="no-js", lang="en")
  head
    meta(charset='utf-16')
    title {{meta_title}}
    meta(name='description', content='{{meta_description}}')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/assets/css/styles.min.css')
    script(src='/assets/js/libs/modernizr.js')
    link(rel='shortcut icon', href='/assets/images/favicon.ico')
    | {{ghost_head}}

  body(class="{{body_class}}")
    | {{{body}}}

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script.
      if (typeof jQuery == 'undefined') { document.write(unescape("%3Cscript src='/assets/js/_libs/jquery-2.2.4.min.js' type='text/javascript'%3E%3C/script%3E")); }
    script(src='/assets/js/functions.js')