h1()
  font-family: $Gotham
  font-weight: 700
  color: #222
  font-size: 30px
  line-height: 1
  text-transform: uppercase
  margin-bottom: $marginBottom
  & > a
    text-decoration: none

h2()
  font-family: $Serif
  font-weight: 700
  color: #222
  font-size: 24px
  line-height: 1
  text-transform: uppercase
  margin-bottom: $marginBottom
  & > a
    text-decoration: none

h3()
  font-family: $Gotham
  font-weight: 700
  color: #222
  font-size: 16px
  line-height: 1
  text-transform: uppercase
  margin-bottom: $marginBottom
  & > a
    text-decoration: none

p()
  font-family: $ParagraphFont
  line-height: $marginBottom*2
  margin-bottom: $marginBottom
  color: #242424
  font-size: 13px

subhed()
  font-size: 16px

menuItem()
