@font-face
  font-family: 'Gotham'
  src: url( '../fonts/GothamSSm-Medium.otf' )
  font-weight: 500
  
// Bold 600
@font-face
  font-family: 'Gotham'
  src: url( '../fonts/GothamSSm-Bold.otf' )
  font-weight: 700

// Bold 600
@font-face
  font-family: 'Merriweather'
  src: url( '../fonts/Merriweather-Light.ttf' )
  font-weight: 400

$backgroundColor = #393939
$thumbnailColor = #E7E4D8
$MenuFont = "Gotham", Helvetica, Arial, sans-serif
$Gotham = "Gotham", Helvetica, Arial, sans-serif
$marginBottom = 12px
$ParagraphFont = "Merriweather", Georgia, Helvetica, serif